@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    display: grid;
    grid-template-columns: min-content 1fr;
    font-family: system-ui, sans-serif;
    
    /* this breaks position sticky in Firefox */
    /* overflow-x: hidden; */
  }
 @media (max-width:500px){
    body{
        grid-template-columns:0% auto;
    }
}
  section{
    opacity: 0;
  }
  header {
    grid-column: 1 / 3;
    background: #e86868;
    color: white;
    padding: 4rem;
    text-align: center;
    font-size: 50px;
    height: 100vh;
    font-family: 'Darker Grotesque', sans-serif;
  }
  header h1{
    opacity: 0;
  }
  /* .logo img{
      margin-left: auto;
      margin-right: auto;
  } */
  nav {
    white-space: nowrap;
    /* background: #37474F; */
  }

  section h1{
      padding-top: 5%;
      font-family: 'Open Sans Condensed', sans-serif;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .logo{
      height: 70%;
      width: 40%;
      float:right;
      padding-left: 2rem;
  }
  
  nav ul li a {
    display: block;
    padding: 0.5rem 1rem;
    color: #ebe6e6;
    text-decoration: none;
  }
  nav ul li a.current {
    /* background: #cf8686; */
    color: #8a8787;
  }

@media (max-width:500px){
    nav{
        display: block;
        width:100%;
    }
    nav ul li {
       display:inline-table;
   } 
  }

 main{
   padding-top: 5px;
   padding-bottom:100px;
 }

  section{
   /* display:flex; */
    padding: 1.5rem;
    margin: 0 0 2rem 0;
    height:500px; 
    background-color: white;
    padding-top: 0 10px;
    position: relative;
    top:30px; 
  }
  section p{
   padding-top:5px;
   margin:0rem;
   font-size:18px;
   font-family: 'Roboto Mono', monospace;
  }
  section h1{
    font-size:36px;
  }
  section h2{
    font-weight: lighter;
    opacity:0.5;
  }

  @media (max-width:500px){
    main{
        padding-top:100px;
        padding-bottom: 250px;
        width:100%;
    }
   .logo{
      padding:1rem 0 1rem 0.5rem; 
  }
    section{
        width:90%;
        margin: 1rem;
        height:auto;
        border: 1px solid black; 
    }
    section h2{
      padding: 1rem 0 1rem 0;
      font-size:18px;
    }
    section p{
        font-size:16px;
    }
   }

  .events_vm_1 ,.events_vm_2,.events_vm_3,.events_vm_4{
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
    position: relative;
    top:10vh;
  }

  footer {
    grid-column: 1 / 3;
    background: #e86868;
    padding: 5rem 1rem;
  }

  /* .part23{
    height:100vh;
    width: 100vw;
    position: absolute;
    background-color: #e86868;
    display: block;
    z-index: 1000;
    transform: scaleY(0);
} */


body::-webkit-scrollbar { width: 0 !important }
body { overflow: -moz-scrollbars-none; }
body { -ms-overflow-style: none; }



  
