@media screen and (max-width: 500px){
    body{
        overflow: visible;
    }
    .sec1,.sec2,.sec3,.sec4,.sec5,.sec6{
        display: block;
    }
    .part11,.part21,.part31,.part41,.part51,.part61,.img1,.img2,.img3,.img4,.img4,.img5,.img6{
        opacity:1;
    }
    .head1{
        left:0vw;
        top:50vh;
        font-size:40px;
    }
    .img1{
        margin-top:30vh;
        transform: scale(1.5);
    }
    .part11,.part12,.part21,.part22,.part31,.part32,.part41,.part42,.part51,.part52,.part61,.part62{
        width: 100vw;
        height:50vh;
        display: block;
    }

    .img2,.img3,.img4,.img5,.img6{
        position: relative;
        width:40vw;
        top: 0;
        right:0vw;
      }

    .content2{
    font-size: 12px;
    }
    .view2{
        top:5vh;
    }
    .events{
        font-size: 20px;
    }
    .view3{
        top:5vh;
    }
    .view4{
        top:5vh;
    }
   .sidenav{
       display:none;
   }
   .part13,.part23,.part33,.part43,.part53,.part63{
       z-index: 2000;
   }
}
