@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Livvic:400,600&display=swap');
@font-face {
    font-family: avenir;
    src: url(avenir.otf);
  }
body{
    padding:0px;
    margin:0px;
    overflow: hidden;
}
.content{
    width: 100%;
}
/* .sec1{
    width: 100%;
    height:100vh;
    display: flex;
} */
.sec1,.sec2,.sec3{
    width: 100%;
    height:100vh;
    display: flex;
}
/* .content div div{
    width: 50%;
    height:100%;
    display: block;
} */

.part21{
    width: 50%;
    height:100%;
    display: block;
}
.part22{
    width: 50%;
    height:100%;
    display: block;
    background-color: #e86868;
}
.part23{
    height:100vh;
    width: 100vw;
    position: absolute;
    background-color: #e86868;
    display: none;
    /* transform: scaleY(0); */
}
.head2{
    width: 100%;
    text-align: center;
    padding-top: 15%;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    letter-spacing: 3px;
    color: #cf8686;
}
.content2{
    width:80%;
    position: relative;
    left: 10%;
    font-size: 20px;
    /* padding-top: 10%; */
    font-family: 'Open Sans Condensed', sans-serif;
    /* color:#68e8e8; */
}

.view2{
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
    position: relative;
    left:10%;
    top:10vh;
}
.img1{
    position:absolute;
    width:40vw;
    top: -10vh;
    margin-left:30vw;
}
.img2,.img3{
    position: absolute;
    width:40vw;
    top: 0;
    right:0vw;
    /* background-color: red; */
    /* width:2px; */
  }
  /* .part22{
    width: 50%;
    height:100%;
    display: block;
    background-color: green;
}
.part21{
    opacity: 0;
}
.part23{
    height:100vh;
    width: 100vw;
    position: absolute;
    background-color: green;
    display: none;
} */

body::-webkit-scrollbar { width: 0 !important }
body { overflow: -moz-scrollbars-none; }
body { -ms-overflow-style: none; }


.part12{
    width: 50%;
    height:100%;
    display: block;
    background-color:#610c68;
}
/* .part31{
    opacity: 0;
} */
.part13{
    height:100vh;
    width: 100vw;
    position: absolute;
    background-color: #610c68;
    display: none;
}
.img1{
    transform:scale(0.6);
}
.head1{
    /* width: 100%; */
    /* text-align: center; */
    /* padding-top: 20%; */
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    letter-spacing: 3px;
    color: #7b2982;
    position: relative;
    text-align: center;
    left:30%;
    top:65%;
}


.part31{
    width: 50%;
    height:100%;
    display: block;
}

.part32{
    width: 50%;
    height:100%;
    display: block;
    background-color: #3256e6;
}
.part33{
    height:100vh;
    width: 100vw;
    position: absolute;
    background-color: #3256e6;
    display: none;
    /* transform: scaleY(0); */
}
.head3{
    width: 100%;
    text-align: center;
    padding-top: 10%;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    letter-spacing: 3px;
    color: #556dcc;
}
.content3{
    width:80%;
    position: relative;
    left: 10%;
    font-size: 20px;
    /* padding-top: 10%; */
    font-family: 'Open Sans Condensed', sans-serif;
    /* color:#68e8e8; */
}

.view3{
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
    position: relative;
    left:10%;
    top:30vh;
}
.events{
    color:#7C7C7C;
    font-size: 40px;
    /* padding-top: 20vh; */
}


.part03{
    height:100vh;
    width: 100vw;
    position: absolute;
    background-color: white;
    display: none;
    z-index: 10;
}


.sec4{
    width: 100%;
    height:100vh;
    display: flex;
}
.part42{
    width: 50%;
    height:100%;
    display: block;
    background-color: #b4421f;
}
.part43{
    height:100vh;
    width: 100vw;
    position: absolute;
    background-color: #b4421f;
    display: none;
}
.part41{
    width: 50%;
}

.head4{
    width: 100%;
    text-align: center;
    padding-top: 8%;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    letter-spacing: 3px;
    color: #b4421f;
}
.content4{
    width:80%;
    position: relative;
    left: 10%;
    font-size: 20px;
    padding-top: 10%;
    font-family: 'Open Sans Condensed', sans-serif;
    /* color:#68e8e8; */
}

.view4{
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
    position: relative;
    left:10%;
    top:30vh;
}
.img4{
    position: relative;
    width:80%;
    /* width:2px; */
  }
  

.sec5{
    width: 100%;
    height:100vh;
    display: flex;
}

.part51{
    width:50%;
}
.part52{
    width: 50%;
    height:100%;
    display: block;
    background-color: rgb(100, 128, 0);
}
.part53{
    height:100vh;
    width: 100vw;
    position: absolute;
    background-color: rgb(100, 128, 0);
    display: none;
}
.head5{
    width: 100%;
    text-align: center;
    padding-top: 8%;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    letter-spacing: 3px;
    color: rgb(100, 128, 0);
}

.content5{
    width:80%;
    position: relative;
    left: 20%;
    font-size: 20px;
    padding-top: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    /* color:#68e8e8; */
}
.img5{
    position: relative;
    width:80%;
    /* width:2px; */
  }


  .sec6{
    width: 100%;
    height:100vh;
    display: flex;
}

.part61{
    width:50%;
}
.part62{
    width: 50%;
    height:100%;
    display: block;
    background-color: rgb(0, 124, 128);
}
.part63{
    height:100vh;
    width: 100vw;
    position: absolute;
    background-color: rgb(0, 124, 128);
    display: none;
}

.head6{
    width: 100%;
    text-align: center;
    padding-top: 8%;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    letter-spacing: 3px;
    color: rgb(0, 124, 128);
}

.content6{
    width:80%;
    position: relative;
    left: 15%;
    font-size: 20px;
    padding-top: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    /* color:#68e8e8; */
}
.img6{
    position: relative;
    width:80%;
    /* width:2px; */
  }



.sec1{
    display: flex;
}
.sec2{
    display: none;
}
.sec3{
    display: none;
}
.sec4{
    display: none;
}
.sec5{
    display: none;
}
.sec6{
    display: none;
}
.part11,.part21,.part31,.part41,.part51,.part61,.img1,.img2,.img3,.img4,.img4,.img6{
    opacity:0;
}

nav{
    position: absolute;
    margin-left: 25vw;
    /* padding-right:30px; */
    bottom: 0;
 /*   width:60vw; */
    z-index:50;
  }
  
  nav ul li{
    display:inline-block;
    padding:1.5vw;
    color:#8a8787;
    opacity: 1;
    font-family: 'Livvic', sans-serif;
    font-size: 1.25rem;
    letter-spacing: -1px;
  }
  nav ul li span{
    /* overflow: hidden;*/
     
    display: none;
  }
  .nav-link {
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
  }
  .nav-link:hover {
    opacity: 1;
  }
  
  .nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #031D44;
  }
  
  .nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
  }
  
  .nav-link-ltr:hover::before {
    width: 100%;
  }
  
  .active{
    /* text-decoration: line-through; */
    /* font-size: 20px;#ebe6e6 */
  color: black;
  opacity: 0.7;
  }
