@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    /* display: grid;
    grid-template-columns: min-content 1fr; */
    font-family: system-ui, sans-serif;
    
    /* this breaks position sticky in Firefox */
    /* overflow-x: hidden; */
  }


  .mega{
    margin: 0;
    display: grid;
    grid-template-columns: min-content 1fr;
    position: relative;
    top:100vh;
  }
 @media (max-width:700px){
    body{
        grid-template-columns:0% auto;
    }
}
  section{
    opacity: 0;
  }
  header {
    grid-column: 1 / 3;
    color: white;
    padding: 4rem;
    text-align: center;
    font-size: 50px;
    height: 100vh;
    font-family: 'Darker Grotesque', sans-serif;
  }
  header h1{
    opacity: 0;
  }
  /* .logo img{
      margin-left: auto;
      margin-right: auto;
  } */
  nav {
    white-space: nowrap;
    /* background: #37474F; */
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  @media all and (min-height:300px) and (min-width:700px){
    nav ul {
      position: sticky;
      top: 0;
    }
  } 
  nav ul li a {
    display: block;
    padding: 0.5rem 1rem;
    color: #ebe6e6;
    text-decoration: none;
  }
  nav ul li a.current {
    /* background: #cf8686; */
    color: #8a8787;
  }

@media (max-width:600px){
    nav{
        display: block;
        width:100vw;
    }
    nav ul li {
       display:inline-table;
       font-size: 3.5vw;
   } 
  }

 main{
   padding-top: 5px;
   padding-bottom:100px;
 }

  section{
   /* display:flex; */
    padding: 2rem;
    margin: 0 0 2rem 0;
    height:auto; 
    background-color: white;
    padding-top: 0 10px;
    position: relative;
    top:30px; 
  }
  section p{
    padding-top:5px;
    margin:0rem;
    font-size:18px;
    font-family: 'Roboto Mono', monospace;
   }

  @media (max-width:500px){
    main{
        padding-top:100px;
        padding-bottom: 250px;
        width:100%;
    }
    section{
      margin:0;
     }
     header h1{
       font-size: 60px;
     }
   }

  footer {
    grid-column: 1 / 3;
    background: #e86868;
    padding: 5rem 1rem;
  }

  .part23{
    height:100vh;
    width: 100vw;
    position: absolute;
    /* background-color: #e86868; */
    display: block;
    z-index: 1000;
}


body::-webkit-scrollbar { width: 0 !important }
body { overflow: -moz-scrollbars-none; }
body { -ms-overflow-style: none; }

@media (max-width:700px){
  main{
      padding-top:200px;
      padding-bottom: 200px;
      width:100%;
  }
  .mega{
   grid-template-columns:0% 100vw;
   min-width: 0;
   min-height: 0;
 }
 section{
   height: 500px;
 }
  nav ul li{
    font-size: 2.5vw;
  }
  header h1{
    font-size: 50px;
  }
  .events_vm_1 ,.events_vm_2,.events_vm_3,.events_vm_4{
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
    position: relative;
    top:5vh;
  }
 }

  /***section-template***/
 

.clubs {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
  margin: 20px;
  overflow: hidden;
  font-family: 'Open Sans Condensed', sans-serif;
  height:auto;
	width: 70vw;
}


.clubs h2 {
	opacity: 0.6;
	margin: 0;
  letter-spacing: 1px;
  font-size: 20px;
/*	text-transform: uppercase; */
}

.clubs h1 {
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 10px 0;
}

.clubs-preview {
	color: #fff;
	width:30vw;
}

.clubs-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.btn {	
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	position: absolute;
	bottom: 30px;
	right: 30px;
  letter-spacing: 1px;
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
}

@media  (max-width:500px) {
  .clubs {
      margin:0vw ;
      padding: 0vw;
      display: block;
      width:80vw;
      height: auto;
  }
  .clubs-preview {
      position:relative;
      width:100%;
      height:50vw;
  }
  .clubs h1{
      font-size: 22px;
  }
  .clubs h2{
      font-size: 14px;
  }
  .clubs-info{
      padding:15px;
  }
  .btn{
      position: relative;
      font-size: 18px;
      transform: scale(0.8);
      float:right;
      margin-right:0px;
      margin-top:40px;
  }
}

  
