.menu-wrap .hamburger {
  width: 50px;
  height: 50px;
}
.menu-wrap .menu > div > div > ul > li>a{
  font: 700 4rem 'Roboto', sans-serif;
}
@media screen and (max-width: 500px){
  .menu-wrap .menu > div > div > ul > li>a{
    font: 600 3.2rem Raleway, sans-serif;
  }
  .menu-wrap .menu > div > .social-nav {
    margin-top: 60vh;
    margin-left:-87vw;;
    text-align: center;
  }
} 