@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
	--primary-color: #1d1d1d;
	--secondary--color: #f5c42f;
	--text-color: #c5bbec;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: white;
	color: #fff;
	font-size: 18px;
	line-height: 1.6;
}



h1,
h2,
h3,
p {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: #fff;
}

ul {
	list-style: none;
}

.btn {
	display: inline-block;
	border: 0;
	background: var(--secondary--color);
	color: #fff;
	border-radius: 20px;
	padding: 8px 30px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	margin-top: 10px;
}

.btn:hover {
	transform: scale(0.98);
}

.primary-text {
	color: var(--primary-color);
}

.secondary-text {
	color: var(--secondary--color);
}

.section {
	position: relative;
	padding: 0 20px;
}

/* Section Top */
.section-top {
   /* min-height: 500px;
    background:  no-repeat center center/cover;
	animation: fade 3s infinite;
	margin: 0;*/
	height: 90vh ;
  background-size: cover;
  background:   no-repeat center center/cover;
  background-blend-mode: darken;
  transition: 3s;
}



.section-top h1 {
	font-size: 70px;
	line-height: 1.3;
}

.section-top .content {
	position: absolute;
	top: 100px;
	right: 20px;
	width: 55%;
}

.section-about {
    /* min-height: 500px; */
    width: 100%;
    text-align: center;
	background-color: white;
	overflow: hidden;
	text-align: left;
	padding-bottom: 5%;
}

.section-about h1 {
	text-align: center;
    padding-top: 2.5%;
    padding-bottom: 1%;
	font-size: 35px;
	color:#560e64;
	line-height: 1.3;
	letter-spacing: 3px;
}

.section-about span {
	color:black;
	width: 80%;
	display: inline-block;
	position: relative;
	left:10%;
	/* background-color: darkcyan; */
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
	font-family: 'Lato', sans-serif;
}

/* Section Stream */
.section-stream {
	min-height: 700px;
   /* background: url('https://i.ibb.co/bsX6RV0/bg2.png') no-repeat center center/cover;*/
	background-color: white;	 
}

.section-stream h1 {
	font-size: 40px;
	color:black;
}

.section-stream h2 {
	font-size: 26px;
	color:black;
}


.section-stream .content {
	position: absolute;
	width: 45%;
	padding-top:10%; 
    right: 30px;
	color: black;
	font-size: 18px; 
}

.section-stream .cont {
	position: absolute;
	width: 45%;
    left: 30px;
	padding-top: 10%;
	color:black;
	font-size: 18px;
}

.eventhead{
    position: absolute;
	left:0px;
    text-align: center;
    width:100%;
}

.section-stream .content > div, .section-grid > div {
	background: rgba(146, 143, 143, 0.1);
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
}

.section-stream .cont > div, .section-grid > div {
	background: rgba(146, 143, 143, 0.1);
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
}

#more_1{display: none;}
#more_2 {display: none;}
#more_3 {display: none;}
#more_4 {display: none;}

.button {
	background-color: royalblue; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
  }
  button:focus{
	  outline:none;
  }
  
  .button1 {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .button2 {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .button3 {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .button4 {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }


/* Section Grid */
.item1 { grid-area: header; }
.item2 { grid-area: item2; }
.item3 { grid-area: item3; }
.item4 { grid-area: item4; }

.section-grid {
	display: grid;
	grid-template-areas:
    'header header header'
    'item2 item3 item4';
	grid-gap: 30px;
    text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: brown;
}

.section-grid p {
	color: var(--text-color);
}

.section-grid .dot {
	font-size: 40px;
	padding-left: 2px;
}
/*      Meet The Team     */

.team{
    margin: 75px 0px;
}

.team-container h1{
    text-align: center;
    letter-spacing: 2px;
    color:#333;
    padding-bottom: 10px;
}

.team-container h1:after{
    content: " ";
    background: #333;
    display: block;
    height: 3px;
    width: 150px;
    margin:10px auto;
}

.team-container h5{
    font-size:18px;
}

.profile{
    margin-left: 80px;
}

.profile .img-box{
    opacity: 1;
    display: block;
    position: relative;

}
.profile h3{
	font-size: 28px;
    font-weight: bold;
    margin-top: 15px;
}

.img-box:after{
    content: " ";
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}
.img-box ul{
    margin: 0;
    padding: 20px 0;
    position: absolute;
    z-index:1;
    bottom: 0;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.img-box ul li{
width: 30px;
height: 30px;
border:1px solid #fff;
border-radius: 50%;
margin: 3px;
padding: 7px;
display: inline-block;
}

.img-box a{
    color: #fff;
}
.img-box:hover:after{
    opacity: 1;
}
.img-box:hover ul{
    opacity: 1;
}
.img-box a:hover li{
    color:#007bff;
    border: 1px solid #007bff;
}
.img-box:after, .img-box ul, .img-box ul li{
    transition: all 0.5s ease-in-out 0s;
}
/* Footer */
.footer {
	border-top: var(--text-color) 1px solid;
	padding: 30px;
	margin-top: 20px;
}

.footer ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
}

/* Mobile */
@media (max-width: 700px) {
	.section-top .content,
	.section-stream .play,
	.section-stream .content {
		position: static;
		width: 100%;
	}

	.section-top {
		min-height: 200px;
		padding-top: 20px;
	}

	.section-top .content {
		text-align: center;
	}

	.section-top .content h1 {
		font-size: 45px;
	}

	.section-stream {
		min-height: 1000px;
		position: static;
	}
	.section-stream .cont{
		position: static;
		width:90%;
	}
	.section-stream .content{
		position: static;
		width:90%;
	}
    
	.section-stream .play {
		width: 50%;
		display: block;
		margin: 30px auto;
	}
	.section-stream .cont{
		width:90%;
	}

	iframe {
	   width:100%;
	   height: 300px;
	} 

	.footer ul {
		display: block;
	}
	.profile{
		margin: 40px;
	}
}


.swiper-container,.swiper-container2 {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
  }
  .swiper-slide {
	width: 300px;
	height: 300px;
	background:  no-repeat center center/cover;
  }

  .swiper-slide2 {
	width: 200px;
	height: 200px;
	background:  no-repeat center center/cover;
  }

  .galleryhead{
	  width:100%;
	  font-size: 40px;
	  text-align: center;
  }

  /*.swiperimg{
	  overflow: hidden;
	  width: 100%;
	  height: 100%;
  }*/
